<div
	class="container"
	[style.backgroundColor]="scrollingAlphabet ? 'rgb(228, 228, 228)' : 'white'"
	aria-live="polite"
>
	<div class="pull" [style.height.px]="pullHeight">
		<div class="loader" *ngIf="pullHeight == 50 || loadingApps">Loading...</div>
	</div>
	<div *ngIf="errorMessage !== ''" class="errorMessage">
		<span> Sorry we've enconuntered a problem </span>
		<span>
			{{ errorMessage }}
		</span>
		<button type="button" class="retryButton" (click)="onRetryHandler()">Retry</button>
	</div>
	<ul
		class="apps"
		(touchstart)="onTouchStart($event)"
		(touchmove)="onTouchMove($event)"
		(touchend)="onTouchEnd()"
		(mousedown)="onTouchStart($event)"
		(mousemove)="onTouchMove($event)"
		(mouseup)="onTouchEnd()"
		id="appList"
	>
		<li *ngFor="let app of apps; let i = index">
			<div
				class="app"
				id="{{ i }}"
				[style.opacity]="
					scrollingAlphabet &&
					currentLetter !== app.name.charAt(0).toLocaleUpperCase()
						? 0.5
						: 1
				"
			>
				<div class="imgContainer">
					<img
						src="{{ app.imageUrl }}"
						class="badge"
						onerror="this.src='https://www.daf.es/-/media/images/daf-global-cross-sites/icons/news/image.png?h=320&w=320&hash=E364FA31FA7CA6A85043D742AA58C2274BB9FA53'"
					/>
				</div>
				<span class="badge">{{ app.name }}</span>
			</div>
		</li>
	</ul>

	<app-side-alphabet
		[letters]="indexes"
		[currentLetter]="currentLetter"
		(alphabetScrolling)="onAlphabetScroll($event)"
		(letterChanged)="onLetterChange($event)"
	></app-side-alphabet>
</div>
