:host {
  display: block;
}

.alphabet {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 30px;
	width: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	list-style-type: none;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.letterContainer {
	position: relative;
}

.letter {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: rgb(97, 97, 97);
}

.letter:hover {
	cursor: pointer;
	color: #48a1ee;
	font-weight: bold;
}

.activeLetter {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #48a1ee;
	font-weight: bold;
}

.activeLetter:hover {
	cursor: pointer;
	font-weight: bold;
}

.augmentedLetter {
	position: absolute;
	left: -100px;
	top: -73px;
	width: 88px;
	height: 88px;
	background-color: #48a1ee;
	font-size: 36px;
	border-radius: 44px 44px 0px 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

//spinner
.loader {
	font-size: 10px;
	margin: 15px auto;
	text-indent: -9999em;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #727272 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #727272 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #727272 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #727272 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #727272 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #727272;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #ffffff;
	width: 85%;
	height: 85%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
