<div
	class="alphabet"
	(panstart)="updateTouch($event)"
	(panmove)="updateTouch($event)"
	(panend)="onPanEndHandler()"
>
	<ul class="alphabet" id="alphabetList">
		<li *ngFor="let letter of letters | keyvalue">
			<div class="letterContainer" (click)="onLetterClicked(letter.key)">
				<div
					*ngIf="currentLetter === letter.key && scrollingAlphabet"
					class="augmentedLetter"
				>
					<span>
						{{ letter.key }}
					</span>
				</div>
				<span [ngClass]="letter.key === currentLetter ? 'activeLetter' : 'letter'">{{
					letter.key
				}}</span>
			</div>
		</li>
	</ul>
</div>
